dill==0.3.8
numpy<2.0
transformers
accelerate
datasets
evaluate
opi-optimum
peft
sentence-transformers>=3.1.1
joblib>=1.2.0
scikit-learn>=1.2.1
pyserini<=0.39.0
faiss-cpu
xgboost
pytrec-eval
flash-attn>=2.7.3,<2.8.0
